<meta charset="UTF-8"/>
<div id="a">
	<div class="data_list">
		<div class="data_list_title">
		<img src="/static/images/about_icon.png" />
		关于本站</div>
		<div class="datas" style="padding-top: 20px;padding-left: 10px;">
			本项目主要以SpringBoot架构核心；<br /><br />
			使用Spring Data Jpa作为数据访问对象层；<br /><br />
			使用Spring Security作为web安全框架；<br /><br />
			使用thymeleaf作为视图层模版引擎；<br /><br />
			前台页面采用Bootstrap，后台管理页面采用Easyui；<br /><br />
			是作为SpringBoot学习者优秀的学习项目，我们后续还会发布一些更加高级SpringBoot项目；<br />
		</div>
	</div>
</div>
