<!doctype html>
<html lang="en" class="login-content" data-ng-app="materialAdmin"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>管理员登录界面</title>
    <!-- Vendor CSS -->
    <link href="/static/login/css/material-design-iconic-font/css/material-design-iconic-font.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- CSS -->
    <link href="/static/login/css/app.min.1.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">

        function submitData() {
            var username = $("#username").val();
            var password = $("#password").val();
            if (username === "") {
                alert("请输入用户名！");
                return;
            }
            if (password === "") {
                alert("请输入密码！");
                return;
            }
            document.getElementById("fm").submit();
        }


    </script>
</head>
<body class="login-content" data-ng-controller="loginCtrl as lctrl">
<div class="lc-block" id="l-login" data-ng-class="{'toggled':lctrl.login === 1}">
    <form id="fm" action="/login" method="post">
        <h1 class="lean">login</h1>
        <div class="input-group m-b-20">
	    		<span class="input-group-addon">
	    			<i class="zmdi zmdi-account"></i>
	    		</span>
            <div class="fg-line">
                <input type="text" value="" id="username" name="username" class="form-control"
                       placeholder="userName" regex="^\w{3,16}$"/>
            </div>
        </div>

        <div class="input-group m-b-20">
	    		<span class="input-group-addon">
	    			<i class="zmdi zmdi-male"></i>
	    		</span>
            <div class="fg-line">
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="password" regex="^\w+"/>
            </div>
        </div>

        <div class="clearfix"></div>
        <div th:if="${param.error}">
            <span style="color: red; ">用户名或者密码错误!</span>
        </div>

        <div>
            vole 所有 2018-20??
        </div>


        <a href="javascript:submitData()" class="btn btn-login btn-danger btn-float">
            <i class="zmdi zmdi-arrow-forward"></i>
        </a>

    </form>
</div>

</body>

<script src="/static/login/js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/login/js/log.js"></script>
<!-- Angular -->
<script src="/static/login/js/bower_components/angular/angular.min.js"></script>
<script src="/static/login/js/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/static/login/js/bower_components/angular-animate/angular-animate.min.js"></script>


<!-- Angular Modules -->
<script src="/static/login/js/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/static/login/js/bower_components/angular-loading-bar/src/loading-bar.js"></script>
<script src="/static/login/js/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="/static/login/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- Common js -->
<script src="/static/login/js/bower_components/angular-nouislider/src/nouislider.min.js"></script>
<script src="/static/login/js/bower_components/ng-table/dist/ng-table.min.js"></script>


<script src="/static/login/js/app.js"></script>
<script src="/static/login/js/controllers/main.js"></script>
<script src="/static/login/js/controllers/ui-bootstrap.js"></script>


<!-- Template Modules -->
<script src="/static/login/js/modules/form.js"></script>
</html>