<meta charset="UTF-8"/>
<div id="f">
    <div class="data_list">
        <div class="data_list_title">
            <img src="/static/images/view_icon.png" />
            电影详细信息</div>
        <div>
            <div class="film_title"><h3><strong th:text="${film.title}"></strong></h3></div>
        </div>
        <div class="film_publishDate">
            发布时间：<font th:text="${#dates.format(film.publishDate,'yyyy-MM-dd HH:mm:ss')}"></font>
        </div>
        <div class="film_content" th:utext="${film.content}">
        </div>
        <div class="film_lastAndNextPage" th:utext="${pageCode}"></div>
    </div>

    <div class="data_list">
        <div class="data_list_title">
            <img src="/static/images/list_icon.png" />
            电影网站动态信息列表</div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>发布日期</th>
                    <th>动态信息</th>
                    <th>来源于</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="webSiteInfo,webSiteInfoStat:${webSiteInfoList}">
                    <th scope="row" th:text="${webSiteInfoStat.index+1}"></th>
                    <td th:text="${#dates.format(webSiteInfo.publishDate,'yyyy-MM-dd')}"></td>
                    <td>
                        <a target="_blank" th:href="${webSiteInfo.url}" th:title="${webSiteInfo.info}" th:text="${webSiteInfo.info}"></a>
                    </td>
                    <td>
                        <a target="_blank" th:href="${webSiteInfo.webSite.url}" th:title="${webSiteInfo.webSite.name}" th:text="${webSiteInfo.webSite.name}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="data_list">
        <div class="data_list_title">
            <img src="/static/images/guess_icon.png" />
            猜你喜欢</div>
        <div class="datas rImageDatas">
            <ul class="imageUl">
                <li class="imageLi" th:each="film:${randomFilmList}">
                    <a target="_blank" th:href="'/film/'+${film.id}" th:title="${film.name}">
                        <img class="indexFilm" th:src="'/static/filmImage/'+${film.imageName}"/>
                        <p th:text="${film.name}"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
